<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mb-5 ftco-animate">
        <a href="images/product-1.jpg" class="image-popup"><img src="{{infoProduct.image}}" class="img-fluid" alt="{{infoProduct.name}}"></a>
      </div>
      <div class="col-lg-6 product-details pl-md-5 ftco-animate">
        <h3 class="mb-4">{{infoProduct.name}}</h3>
        <div class="rating mb-4">
          <p class="text-left mr-4">
            <a href="#" class="mr-2"><i class="fas fa-star"></i></a>
            <a href="#"><i class="fas fa-star"></i></a>
            <a href="#"><i class="fas fa-star"></i></a>
            <a href="#"><i class="fas fa-star"></i></a>
            <a href="#"><i class="far fa-star"></i></a>
          </p>
          <p class="text-left mr-4">
            <a href="#" class="mr-2" style="color: #000;">100 <span style="color: #bbb;">Đánh giá</span></a>
          </p>
          <p class="text-left">
            <a href="#" class="mr-2" style="color: #000;">500 <span style="color: #bbb;">Đã bán</span></a>
          </p>
        </div>
        <p class="price"><span>{{infoProduct.price | number}}đ</span></p>
        <p>{{infoProduct.description}}</p>
        <div class="row mt-4">
          <div class="col-md-6">
            <div class="form-group d-flex">
              <div class="select-wrap">
                <div class="icon"><span class="ion-ios-arrow-down"></span></div>
              </div>
            </div>
          </div>
          <div class="col-md-3 justify-content-md-end" style="margin-right: 50%">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <button class="btn btn-outline-secondary decrease-button" type="button">-</button>
              </div>
              <input type="text" class="form-control text-center quantity-input" value="1" aria-label="Example text with button addon" aria-describedby="button-addon1">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary increase-button" type="button">+</button>
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <h5>Thông tin nhà cung cấp</h5>
          <p>{{infoProduct.supplier}}</p>
        </div>

        <button routerLink="/orderDetail" class="btn btn-primary py-3 px-5 mr-2">Mua hàng</button>
      </div>
    </div>
  </div>
</section>

