<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
</head>
<body>
<h1>Thêm mới bài hát</h1>
<p>
    <a href="/song/" class="btn btn-warning">Danh sách bài hát</a>
</p>
<form th:action="@{/song/create}" th:object="${songDto}" method="post">
    <table class="table-striped-columns">
        <tr>
            <td>Tên bài hát:</td>
            <td><input th:field="*{nameSong}"></td>
            <td th:if="${#fields.hasErrors('nameSong')}" th:errors="*{nameSong}">Name Error</td>
        </tr>
        <tr>
            <td>Tên ca sĩ:</td>
            <td><input th:field="*{singer}"></td>
            <td th:if="${#fields.hasErrors('singer')}" th:errors="*{singer}">Name Error</td>
        </tr>
        <tr>
            <td>Thể loại nhạc:</td>
            <td><input th:field="*{music}"></td>
            <td th:if="${#fields.hasErrors('music')}" th:errors="*{music}">Name Error</td>
        </tr>
    </table>
    <input class="btn btn-success" type="submit" value="Save"/>
</form>
</body>
</html>