
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="about-img position-relative overflow-hidden p-5 pe-0">
          <img style="height: 25rem" class="img-fluid w-100" src="https://media.cooky.vn/images/blog-2016/5-cach-chon-rau-cu-qua-tuoi-ngon-1.jpg">
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="display-5 mb-4">Trái cây và rau hữu cơ tốt nhất</h1>
        <p class="mb-4"><i>Rau củ quả hữu cơ không sử dụng hóa chất độc hại, mang lại giá trị dinh dưỡng cao và hương vị tuyệt vời. Việc sử dụng còn giúp bảo vệ sức khỏe và môi trường, đóng góp vào sự phát triển bền vững của nông nghiệp</i></p>
        <p><i class="fa fa-check text-primary me-3"></i>Rau củ quả sạch chứa nhiều chất dinh dưỡng, giúp cơ thể khỏe mạnh và tăng sức đề kháng</p>
        <p><i class="fa fa-check text-primary me-3"></i>Rau củ quả sạch được trồng theo phương pháp hữu cơ, không sử dụng hóa chất độc hại, đảm bảo an toàn cho sức khỏe</p>
        <p><i class="fa fa-check text-primary me-3"></i>Rau củ quả sạch có vị ngon, mùi thơm tự nhiên, giúp tăng thêm hứng thú và thưởng thức cho người ăn</p>
        <p><i class="fa fa-check text-primary me-3"></i>Sử dụng rau củ quả sạch trong chế biến thực phẩm sẽ giúp cho món ăn thêm tươi ngon và bổ dưỡng</p>
        <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Đọc thêm</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-fluid bg-light bg-icon my-5 py-6">
  <div class="container">
    <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <h1 class="display-5 mb-3">Các tính năng của chúng tôi</h1>
      <p><mark>Với Huynl Fresh Foods, hương vị tươi ngon của rau củ quả hữu cơ đến tận tay bạn!</mark></p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="bg-white text-center h-100 p-4 p-xl-5">
          <img class="img-fluid mb-4" src="../assets/img/icon-1.png" alt="">
          <h4 class="mb-3">Quá trình tự nhiên</h4>
          <p class="mb-4">Rau củ quả hữu cơ là loại được trồng trọt, canh tác hoàn toàn tự nhiên, theo quy trình đạt tiêu chuẩn của nông nghiệp hữu cơ.</p>
          <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Đọc thêm</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="bg-white text-center h-100 p-4 p-xl-5">
          <img class="img-fluid mb-4" src="../assets/img/icon-2.png" alt="">
          <h4 class="mb-3">Sản phầm hữu cơ</h4>
          <p class="mb-4">Rau củ quả hữu cơ thường được sản xuất trong các trang trại và vườn nhỏ, mang lại lợi ích cho nông dân địa phương.</p>
          <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Đọc thêm</a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="bg-white text-center h-100 p-4 p-xl-5">
          <img class="img-fluid mb-4" src="../assets/img/icon-3.png" alt="">
          <h4 class="mb-3">An toàn sinh học</h4>
          <p class="mb-4">Việc sử dụng rau củ quả hữu cơ giúp bảo vệ sức khỏe và môi trường.</p>
          <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Đọc thêm</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End -->


<!-- Product Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-0 gx-5 align-items-end">
      <div class="col-lg-6">
        <div class="section-header text-start mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
          <h1 class="display-5 mb-3">Sản phẩm</h1>
          <p>Giữ gìn sức khỏe bằng chất dinh dưỡng tự nhiên - Khám phá ngay các loại rau củ quả tươi ngon từ trang trại chúng tôi!</p>
        </div>
      </div>
      <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s">
        <ul class="nav nav-pills d-inline-flex justify-content-end mb-5">
          <li class="nav-item me-2">
            <a class="btn btn-outline-primary border-2 active" data-bs-toggle="pill" (click)="loadListVegetable()">Rau quả</a>
          </li>
          <li class="nav-item me-2">
            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" (click)="loadListFruit()">Trái cây</a>
          </li>
          <li class="nav-item me-0">
            <a class="btn btn-outline-primary border-2" data-bs-toggle="pill" href="#tab-3">Nước ép</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="tab-content">
      <div id="tab-1" class="tab-pane fade show p-0 active">
        <div class="row g-4">
          <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let product of productList,index as i">
            <div class="product-item" >
              <div class="position-relative bg-light overflow-hidden">
<!--                <img class="img-fluid w-100" src="../assets/img/product-1.jpg" alt="">-->
                <img class="img-fluid w-100 center" [src]="product.image" alt="" style="width: 300px; height: 300px; object-fit: scale-down">
                <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3">Mới</div>
              </div>
              <div class="text-center p-4">
<!--                <a class="d-block h5 mb-2" href="">Fresh Tomato</a>-->
                <a class="d-block h5 mb-2" href="">{{product?.name}}</a>
<!--                <span class="text-primary me-1">$19.00</span>-->
                <span class="text-primary me-1">{{product.price}}</span>
                <span class="text-body text-decoration-line-through">29.000Đ</span>
              </div>
              <div class="d-flex border-top">
                <small class="w-50 text-center border-end py-2">
                  <a class="text-body" routerLink="/detail/{{product.id}}"><i class="fa fa-eye text-primary me-2"></i>Xem chi tiết</a>
                </small>
                <small class="w-50 text-center py-2" (click)="addCart(product.id)">
                  <a class="text-body" ><i class="fa fa-shopping-bag text-primary me-2"></i>Thêm vào giỏ hàng</a>
                </small>
              </div>
            </div>
          </div>
          <div class="col-12 text-center">
            <a [hidden]="moreFruit" class="btn btn-primary rounded-pill py-3 px-5" (click)="loadMore()" >Xem thêm sản phẩm</a>
            <a [hidden]="!moreFruit" class="btn btn-primary rounded-pill py-3 px-5" (click)="loadMore1()">Xem thêm sản phẩm</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Product End -->


<!-- Firm Visit Start -->
<div class="container-fluid bg-primary bg-icon mt-5 py-6">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-md-7 wow fadeIn" data-wow-delay="0.1s">
        <h1 class="display-5 text-white mb-3">Ghé thăm công ty của chúng tôi</h1>
        <p class="text-white mb-0">"Chúng tôi cam kết cung cấp cho khách hàng những sản phẩm rau củ quả hữu cơ tươi ngon, an toàn cho sức khỏe và đạt chuẩn chất lượng cao. Huynl Fresh Foods hy vọng sẽ đóng góp phần nhỏ vào sự phát triển của thị trường nông sản hữu cơ tại Việt Nam."</p>
        <cite style="color: black">Huynl FreshFoods</cite>
      </div>
      <div class="col-md-5 text-md-end wow fadeIn" data-wow-delay="0.5s">
        <a class="btn btn-lg btn-secondary rounded-pill py-3 px-5" href="">Ghé thăm ngay</a>
      </div>
    </div>
  </div>
</div>
<!-- Firm Visit End -->


<!-- Testimonial Start -->
<div class="container-fluid bg-light bg-icon py-6 mb-5">
  <div class="container">
    <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <h1 class="display-5 mb-3">Đánh giá của khách hàng</h1>
      <p>Chúng tôi rất cảm kích những đánh giá của quý khách trên trang web của chúng tôi. Chúng là nguồn động lực lớn để chúng tôi cải thiện chất lượng sản phẩm và dịch vụ của mình. Quý khách đã giúp chúng tôi hiểu và đáp ứng tốt hơn nhu cầu của khách hàng, và giúp cho những khách hàng khác có thể tìm hiểu thêm về sản phẩm và dịch vụ của chúng tôi. Một lần nữa, chúng tôi xin chân thành cảm ơn sự đóng góp của quý khách!</p>
    </div>
    <div class="owl-carousel testimonial-carousel wow fadeInUp" data-wow-delay="0.1s">
      <div class="testimonial-item position-relative bg-white p-5 mt-4">
        <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 rounded-circle" src="../assets/img/testimonial-1.jpg" alt="">
          <div class="ms-3">
            <h5 class="mb-1">Client Name</h5>
            <span>Profession</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item position-relative bg-white p-5 mt-4">
        <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 rounded-circle" src="../assets/img/testimonial-2.jpg" alt="">
          <div class="ms-3">
            <h5 class="mb-1">Client Name</h5>
            <span>Profession</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item position-relative bg-white p-5 mt-4">
        <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 rounded-circle" src="../assets/img/testimonial-3.jpg" alt="">
          <div class="ms-3">
            <h5 class="mb-1">Client Name</h5>
            <span>Profession</span>
          </div>
        </div>
      </div>
      <div class="testimonial-item position-relative bg-white p-5 mt-4">
        <i class="fa fa-quote-left fa-3x text-primary position-absolute top-0 start-0 mt-n4 ms-5"></i>
        <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit diam amet diam et eos. Clita erat ipsum et lorem et sit.</p>
        <div class="d-flex align-items-center">
          <img class="flex-shrink-0 rounded-circle" src="../assets/img/testimonial-4.jpg" alt="">
          <div class="ms-3">
            <h5 class="mb-1">Client Name</h5>
            <span>Profession</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Testimonial End -->


<!-- Blog Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
      <h1 class="display-5 mb-3">Blog mới nhất</h1>
      <p>Chào mừng đến với blog bán rau củ quả của chúng tôi! Blog này chia sẻ về kiến thức về rau củ quả, các loại thực phẩm dinh dưỡng và sản phẩm rau củ quả tươi ngon và chất lượng cao của chúng tôi. Chúng tôi hy vọng sẽ giúp quý khách có một lối sống lành mạnh hơn và đặt hàng sản phẩm của chúng tôi dễ dàng hơn. Cảm ơn đã ghé thăm blog của chúng tôi!</p>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <img class="img-fluid" src="../assets/img/blog-1.jpg" alt="">
        <div class="bg-light p-4">
          <a class="d-block h5 lh-base mb-4" href="">Cách các nông dân ươm mầm và tạo ra các sản phẩm sạch</a>
          <div class="text-muted border-top pt-4">
            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Cao Đức Kim Minh</small>
            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>24 tháng 05, 2023</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <img class="img-fluid" src="../assets/img/blog-2.jpg" alt="">
        <div class="bg-light p-4">
          <a class="d-block h5 lh-base mb-4" href="">Làm thế nào để một sản phẩm phát triển khỏe nhất</a>
          <div class="text-muted border-top pt-4">
            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Nguyễn Lê Huy</small>
            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>15 tháng 4, 2023</small>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <img class="img-fluid" src="../assets/img/blog-3.jpg" alt="">
        <div class="bg-light p-4">
          <a class="d-block h5 lh-base mb-4" href="">Cách chúng tôi thu hoạch và gởi đến tay khách hàng</a>
          <div class="text-muted border-top pt-4">
            <small class="me-3"><i class="fa fa-user text-primary me-2"></i>Hồ Xuân Bảo</small>
            <small class="me-3"><i class="fa fa-calendar text-primary me-2"></i>20 tháng 7, 2023</small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
