<!--phần giữa-->
<section class="h-100 bg-dark">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card card-registration my-4">
          <div class="row g-0">
            <div class="col-xl-6 d-none d-xl-block">
              <img src="https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-summer-tourism-along-the-way-highway-image_28365.jpg"
                   alt="Sample photo" class="img-fluid"
                   style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;"/>
            </div>
            <div class="col-xl-6">
              <div class="card-body p-md-5 text-black">
                <h3 class="mb-5 text-uppercase">Chỉnh sửa dịch vụ</h3>
                <input type="hidden">
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text"
                             class="form-control form-control-lg"/>
                      <label class="form-label">Tên</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text"
                             class="form-control form-control-lg"/>
                      <label class="form-label">Diện tích</label>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text"
                             class="form-control form-control-lg"/>
                      <label class="form-label">Giá</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text"
                             class="form-control form-control-lg"/>
                      <label class="form-label">Số lượng người</label>
                    </div>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <select  class="select">
                    <option>Ngày</option>
                    <option>Tháng</option>
                    <option>Năm</option>
                    <option>Giờ</option>

                  </select>
                  <label class="form-label">Kiểu thuê</label>
                </div>

                <div class="row">
                  <div class="col-md-6 mb-4">
                    <select  class="select">
                      <option>Villa</option>
                      <option>House</option>
                      <option>Room</option>
                    </select>
                    <label class="form-label">Loại dịch vụ</label>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" class="form-control form-control-lg"/>
                  <label class="form-label">Loại phòng</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text"  class="form-control form-control-lg"/>
                  <label class="form-label" >Mô tả</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text"  class="form-control form-control-lg"/>
                  <label class="form-label" >Diện tích hồ bơi</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text" class="form-control form-control-lg"/>
                  <label class="form-label" >Số tầng</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="text"  class="form-control form-control-lg"/>
                  <label class="form-label" >Dịch vụ miễn phí kèm theo</label>
                </div>

                <div class="d-flex justify-content-end pt-3">
                  <button type="button" class="btn btn-light btn-lg">Hủy!</button>
                  <button type="submit" class="btn btn-warning btn-lg ms-2">Xác nhận</button>
                </div>
                <p style="margin-left: 20%">
                  <a class="btn btn-danger">Danh sách dịch vụ</a>
                </p>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>
