<table class="table table-striped">
  <thead>
  <tr>
    <td>Stt</td>
    <td>Tên</td>
    <td>Diện tích</td>
    <td>Giá</td>
    <td>Số lượng người</td>
    <td>Kiểu thuê</td>
    <td>Loại dịch vụ</td>
    <td>Loại phòng</td>
    <td>Mô tả</td>
    <td>Diện tích hồ bơi</td>
    <td>Số tầng</td>
    <td>Dịch vụ miễn phí</td>
    <td colspan="3"></td>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let temp of facilityList; index as i">
    <td>{{i + 1}}</td>
    <td>{{temp.name}}</td>
    <td>{{temp.area}}</td>
    <td>{{temp.cost}}</td>
    <td>{{temp.maxPeople}}</td>
    <td>{{temp.rentType.name}}</td>
    <td>{{temp.facilityType.name}}</td>
    <td>{{temp.standardRoom}}</td>
    <td>{{temp.description}}</td>
    <td>{{temp.poolArea}}</td>
    <td>{{temp.numberFloor}}</td>
    <td>{{temp.facilityFree}}</td>

    <td><a [routerLink]="['/createFacility']"  class="btn btn-warning">Tạo</a></td>
    <td><a [routerLink]="['/editFacility']"  class="btn btn-secondary">Sửa</a></td>
    <td>
      <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Xóa
      </a>
    </td>
  </tr>
  </tbody>
</table>

<!-- Modal Delete -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Xóa dịch vụ!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input name="deleteId" hidden id="deleteId">
        <pre>Bạn chắn chắn muốn xóa dịch vụ ?</pre>
        <pre style="color: darkred" id="deleteName"></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Hủy</button>
        <button type="submit" class="btn btn-info">Xác nhận</button>
      </div>
    </div>
  </div>
</div>
