<table class="table table-striped table-hover">
  <tr>
    <td>Stt</td>
    <td>Tên</td>
    <td>Ngày sinh</td>
    <td>Giới tính</td>
    <td>CCCD</td>
    <td>Sđt</td>
    <td>Email</td>
    <td>Địa chỉ</td>
    <td>Loại khách</td>
    <td colspan="3"></td>
  </tr>
  <tr>
    <td>1</td>
    <td>Nguyễn Lê Huy</td>
    <td>15/04/1998</td>
    <td>Nam</td>
    <td>123456</td>
    <td>0898206898</td>
    <td>huynl4@gmail.com</td>
    <td>US UK</td>
    <td>VIP</td>
    <td></td>
    <td><button class="btn btn-secondary">Sửa</button></td>
    <td>
      <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Xóa
      </button>
    </td>
  </tr>
  <tr>
    <td>1</td>
    <td>Nguyễn Lê Huy</td>
    <td>15/04/1998</td>
    <td>Nam</td>
    <td>123456</td>
    <td>0898206898</td>
    <td>huynl4@gmail.com</td>
    <td>Canada</td>
    <td>VIP</td>
    <td></td>
    <td><a class="btn btn-secondary">Sửa</a></td>
    <td>
      <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Xóa
      </a>
    </td>
  </tr>
</table>
