#body {
  display: flex;
  justify-content: right;
  /*background: #48dbfb;*/
  /*margin-top: 1rem;*/
  padding: 1rem;
  position: sticky;
  position: -webkit-sticky;
  top: 100px;

}

.search-box {
  background: whitesmoke;
  border-radius: 1rem;
}

.search-box #search-text {
  border: none;
  outline: none;
  background: none;
  padding: 10px 15px;
  font-size: 15px;
  width: 0;
  padding: 0;
  transition: all 0.25s ease-in-out ;
}
.search-box:hover #search-text,.search-box #earch-text:valid{
  width: 300px;
  padding: 10px 2px 15px;
}
.search-box #search-btn {
  background-color:#7d7d7d;
  color: white;
  cursor: pointer;
  border: none;
  padding:8px 14px;
  border-radius: 30px;
  font-size: 2px;
}


/*button {*/
/*  background-color: #1d580a;*/
/*  border-radius: 50%;*/
/*  border: none;*/
/*  color: white;*/
/*  cursor: pointer;*/
/*  font-size: 20px;*/
/*  padding: 10px;*/
/*  width: 50px;*/
/*  height: 50px;*/
/*  margin-left: 10px;*/
/*  transition: all 0.3s ease;*/
/*}*/

/*button:hover {*/
/*  background-color: #1d580a;*/
/*  transform: scale(1.1);*/
/*}*/
/*button:hover {*/
/*  background-color: #1d580a;*/
/*  transform: scale(1.1);*/
/*}*/
/*button svg {*/
/*  margin-right: 5px;*/
/*}*/

